@import "bootstrap/bootstrap";
@import "Ginkgo";

body {
    position: relative;

    display: inline-block;
    width: 100%;
	height: 100%;

    margin: 0;
    padding: 0;
    color: #2f3043;

    font-size: medium;
    text-align: center;
    font-family: "Noto Sans TC", "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue,
        Helvetica, Arial, sans-serif;
		// background-image: url(../img/bg.png);
    // 文字染色，背景色、文字色
    @include selection(rgba(120, 186, 255, 1), rgba(255, 255, 255, 1));
	background-image: url(../img/bg.png);
}

header {
	// display: flex;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 80px;

	@include range-width(0, 451px) {
		height: 60px;
	}
	
}

.wrapper {
	padding: 5rem 0 0 0;
	min-height: calc(100% - 160px);
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include range-width(0, 451px) {
		padding-top: 1.25rem;
	}

	.container {
		padding: 0;
	
		@include range-width(0, 451px) {
			padding: 0 0.75rem;
		}
	
		.tb_box {
			margin: 0 auto;
			max-width: 720px;
	
			&.longW {
				max-width: 1320px;
			}
		
			.tb_items {
				margin: 0 auto;
				// max-width: 720px;

				// .slick-track
				// {
				// 	display: flex !important;
				// }

				// .slick-slide
				// {
				// 	height: inherit !important;
				// }
				.tb_item {
					// max-width: 720px;
					// height: 100%;
					// height: auto !important;

					@include range-width(0, 451px) {
						// display: none;

						// &.slick-active {
						// 	display: block;
						// }
					}
	
					.tb_item_content {
						background-color: #fff;
						padding: 1.875rem 0;
						
						&.tb_q {
							padding: 1.875rem 0;

							@include range-width(0, 451px) {
								padding: 15px 0;
							}
						}
		
						&.tb_r {
						}
	
						@include range-width(0, 451px) {
							padding: 15px;
						}
		
						h2 {
							margin: 1.5rem 0;
							font-size: 1.625rem;
							letter-spacing: 3px;
							color: #2f3043;
		
							&.fs_16 {
								font-size: 1rem;
							}
		
							&.fs_40 {
								font-size: 2.5rem;
								font-weight: bold;
								letter-spacing: 4.44px;
							}
		
							&.color_po {
								color: #f47f02;
								margin: 1.75rem 0 2.5rem 0;

								@include range-width(0, 451px) {
									margin: 15px 0 30px 0;
								}
							}
		
							&.color_gb {
								color: #4a4a4a;
							}
		
							@include range-width(0, 451px) {
								font-size: 18px;
							}
						}
	
						picture {
							display: inline-block;
							
							&.tb_page {
								margin: 3rem 0 1.625rem 0;

								@include range-width(0, 451px) {
									margin: 2.5rem 0 0 0;
								}
							}
		
							img {
								margin: 0 auto;
								width: auto;
								height: auto;
								max-width: 100%;
								max-height: 100%;

							}
						}
			
						p {
							margin: 1.25rem 0;
		
							@include range-width(0, 451px) {
								font-size: 15px;
							}
						}
			
						button {
							margin: 36px 0 24px 0;
							width: 50%;
							height: 50px;
							font-size: 18px;
							border: solid 1px #979797;
							background-color: #fff;
		
							@include range-width(0, 451px) {
								margin: 20px 0 24px 0;
								width: 80%;
								font-size: 14px;
							}
						}
		
						.tb_question_content {
							display: flex;
							justify-content: space-around;
							padding: 0 1.875rem;

							@include range-width(0, 451px) {
								flex-direction: column;
								padding: 0 15px;
							}
		
							picture {
								display: inline-block;
								flex-basis: 40%;
		
								img {
									width: auto;
									height: auto;
									max-width: 100%;
									max-height: 100%;

									@include range-width(0, 451px) {
										width: 310px; 
										height: 160px;
										object-fit: cover;
										object-position: top;
									}
								}
							}
		
							.tb_question {
								flex-basis: 60%;
		
								h3 {
									width: 90%;
									margin: 0 auto;
									font-size: 26px;
									font-weight: 500;
									letter-spacing: 1px;
									text-align: center;
									color: #2f3043;

									@include range-width(0, 451px) {
										margin: 24px 0;
										width: 100%;
										font-size: 22px;
									}
								}
		
								ul {
									margin: 0 auto;
									padding: 0;
									width: 90%;
									list-style: none;
		
									li {
										margin-top: 1.5rem;
										padding: .625rem 0;
										border: 1px solid #e6e6e6;
										border-radius: 25px;
										font-size: 18px;
										line-height: 1.56;
										letter-spacing: 1px;
										text-align: center;
										color: #4a4a4a;
										cursor: pointer;

										@include range-width(0, 451px) {
											margin-top: 1.25rem;
											font-size: 1rem;
										}
		
										&:hover {
											background-color: #f7d87f;
											border-color: #f7d87f;
										}
									}
								}
							}
						}
	
						.tb_result_content {
							display: flex;
							justify-content: space-around;
							
							// padding: 0 1.875rem;

							@include range-width(0, 769px) {
								flex-direction: column;
							}
							
							&.p_3 {
								align-items: center;
								.tb_result_item {
									flex-basis: calc(100% / 3);
									.tb_product {

										.tb_picture {
											@include range-width(769px, 1025px) {
												align-self: center;
											}
										}

										.tb_tips {
											.tb_tip {
												.tb_tip_title {
													padding: .5rem 0 .5rem .5rem;
													font-size: 16px;
													font-weight: bold;
													letter-spacing: 1.14px;
													color: #4a4a4a;
													background-color: #eee;

													@include range-width(451px, 769px) {
														padding: .5rem 0 .5rem 1.5rem;
													}

													@include range-width(0, 451px) {
														font-size: 14px;
													}
												}
			
												.tb_tip_info {
													margin: .5rem 0;
													padding: 0 .5rem;
													font-size: 14px;
													line-height: 1.2;
													letter-spacing: normal;
													color: #4a4a4a;
													text-align: left;

													@include range-width(451px, 769px) {
														margin: 1.5rem 0;
														padding: 0 1.5rem;	
													}

													@include range-width(0, 451px) {
														font-size: 13px;
														text-align: justify;
													}
												}
											}
										}
									}
			
									.tb_recommend {
										margin-top: 1rem;
										.tb_recommend_content {
											.tb_recommend_products {
												&:before {
													width: 95%;
												}
	
												&:after {
													width: 95%;
												}

												.tb_recommend_product {

													@include range-width(769px, 1025px) {
														flex-direction: column;
														// padding: 0 .5rem;
													}

													.tb_picture {
														picture {
															img {
																height: 120px;
															}
														}
													}
													
													.tb_tips {

														@include range-width(769px, 1025px) {
															padding-left: 0;
														}
			
														p {
															margin: .5rem 0 .5rem 0;
															font-size: .75rem;
															letter-spacing: 1px;
															color: #636363;

															@include range-width(0, 451px) {
																font-size: 14px;
															}

															.tb_span_web_br {
																display: block;

																@include range-width(0, 769px) {
																	display: inline-block;
																}
															}
														}
			
														h3 {
															font-size: 1rem;
															font-weight: bold;
															letter-spacing: 1px;
															color: #4a4a4a;
															text-align: left;

															@include range-width(769px, 1025px) {
																text-align: center;
															}

															@include range-width(0, 451px) {
																font-size: 18px;
																text-align: center;
															}
														}
			
														h4 {
															font-size: .75rem;
															font-weight: bold;
															letter-spacing: 1px;
															color: #4a4a4a;	
															text-align: left;

															@include range-width(769px, 1025px) {
																text-align: center;
															}

															@include range-width(0, 451px) {
																font-size: 14px;
																text-align: center;
															}	
														}
													}
													
												}
											}
			
										}
									}
								}	
							}

							.tb_result_item {
								h2 {
									&:nth-of-type(1) {
										@include range-width(0, 451px) {
											margin-bottom: 0;
										}
									}

									&:nth-of-type(2) {
										@include range-width(0, 451px) {
											margin-top: .5rem;
										}
									}
								}
		
								.tb_product {
									display: flex;
									justify-content: space-around;
		
									.tb_picture {
										flex-basis: 50%;

										@include range-width(0, 451px) {
											align-self: center;
										}
		
										picture {
											display: inline-block;
											max-width: 250px;
										}
									}
									
		
									.tb_tips {
										flex-basis: 50%;
										display: flex;
										flex-direction: column;
										justify-content: center;
		
										.tb_tip {
											margin: 0 auto;
											width: 80%;
											border: solid 1px #eee;

											@include range-width(0, 451px) {
												width: 100%;
											}
		
											&:nth-of-type(2) {
												margin-top: 1rem;
											}
											
											.tb_tip_title {
												padding: .5rem 0 .5rem 1.5rem;
												font-size: 16px;
												font-weight: bold;
												letter-spacing: 1.14px;
												color: #4a4a4a;
												background-color: #eee;
												text-align: left;		
												
												@include range-width(0, 451px) {
													font-size: 14px;
													padding-left: .5rem;
												}
											}
		
											.tb_tip_info {
												padding: 0 1.5rem;
												font-size: 14px;
												line-height: 1.57;
												letter-spacing: normal;
												color: #4a4a4a;
												text-align: left;

												@include range-width(0, 451px) {
													margin: .5rem 0;
													padding: 0 .5rem;
													font-size: 13px;
													text-align: justify;
												}
											}
										}
									}
								}
		
								.tb_recommend {
									@include range-width(0, 451px) {
										margin-top: 1rem;
									}

									.tb_recommend_content {
										.tb_recommend_products {
											display: flex;
											justify-content: center;
											position: relative;
											padding: 1rem 0;

											&:before {
												content: '';
												position: absolute;
												top: 0;
												width: 90%;
												border-top: 1px solid #e6e6e6;
											}

											&:after {
												content: '';
												position: absolute;
												bottom: 0;
												width: 90%;
												border-bottom: 1px solid #e6e6e6;
											}
		
											.tb_recommend_product {
												flex-basis: 50%;
												display: flex;
												justify-content: center;
												position: relative;
												padding: 0 1rem;

												@include range-width(769px, 1025px) {
													flex-direction: column;
													justify-content: flex-start;
												}

												@include range-width(0, 451px) {
													flex-direction: column;
													justify-content: flex-start;
													padding: 0;
												}

												&:first-child {
													&:after {
														content: '';
														position: absolute;
														right: 0;
														height: 100%;
														border-right: 1px solid #e6e6e6;
													}
												}
		
												.tb_picture {
													picture {
														display: inline-block;
														height: 100%;
		
														img {
															width: 100%;
															height: 100%;

															@include range-width(0, 451px) {
																height: 120px;
															}
														}
													}
												}
												
												.tb_tips {
													padding-left: .75rem;

													@include range-width(0, 451px) {
														padding-left: 0;
													}
		
													p {
														margin: 2rem 0 .5rem 0;
														font-size: .875rem;
														letter-spacing: 1px;
														color: #636363;

														@include range-width(0, 451px) {
															margin: .5rem 0;
															text-align: center;
														}
													}
		
													h3 {
														font-size: 1.125rem;
														font-weight: bold;
														letter-spacing: 1px;
														color: #4a4a4a;
														text-align: left;

														@include range-width(0, 451px) {
															text-align: center;
														}
													}
		
													h4 {
														font-size: .875rem;
														font-weight: bold;
														letter-spacing: 1px;
														color: #4a4a4a;	
														text-align: left;

														@include range-width(0, 451px) {
															text-align: center;
														}
													}
												}
												
											}
										}
		
									}
								}
							}
						}

						.tb_share {
							padding: 2.5rem 0 .625rem 0;

							@include range-width(0, 451px) {
								padding: 25px 0 .625rem 0;	
							}

							button {
								margin: 0;
								width: 50%;
								height: 50px;
								font-size: 18px;
								font-weight: bold;
								border: solid 1px #979797;
								background-color: #fff;

								@include range-width(0, 451px) {
									width: 100%;
									font-size: 14px;
								}

								&:nth-of-type(1) {
									margin-bottom: 1rem;
								}

								&:hover {
									background-color: #fb8902;
									border: #fb8902;
									color: #fff;
								}
							}
						}

						.tb_form_content {
							display: flex;	
							justify-content: space-around;
							padding: 0 2rem;

							@include range-width(0, 451px) {
								flex-direction: column;
								padding: 0;
							}

							picture {
								display: inline-block;
								flex-basis: 45%;

								img {
									@include range-width(0, 451px) {
										width: auto;
									}
								}
							}

							.tb_form {
								flex-basis: 50%;

								@include range-width(0, 451px) {
									margin-top: 1rem;
								}

								h3 {
									font-size: 1.5rem;
									font-weight: 500;
									line-height: 1.78;
									letter-spacing: 0.92px;
									text-align: center;
									color: #2f3043;

									@include range-width(0, 451px) {
										line-height: 1.2;
										margin-bottom: 0;
									}
								}

								h4 {
									font-size: 1.125rem;
									font-weight: 500;
									line-height: 1.78;
									letter-spacing: 0.69px;
									text-align: center;
									color: #2f3043;
								}

								form {
									padding: 0 1rem;

									.input-box {
										margin: 1rem 0 0 0;
					
										.row {
											label {
												display: flex;
												justify-content: space-between;
												font-size: .875rem;
												color: #6d6e71;
											}
							
											input {
												font-size: .875rem;
												font-weight: bold;
												letter-spacing: 1.66px;
												text-align: justify;
												color: #4a4a4a;
												background-color: #f7f3eb;
												border: 0;
											}
							
											select {
												font-size: 1rem;
												font-weight: bold;
												letter-spacing: 1.08px;
												text-align: justify;
												color: #4a4a4a;
												background-color: #f7f3eb;
												border: 0;
												
											}
							
											.form-select {
												padding-right: 1.25em;
												background-position: right 0.5rem center;
												font-weight: normal;
												@include range-width(0, 376px) {
													padding-right: 1em;
													background-position: right 0.1rem center;
													font-size: 14px;
												}
											}
										}
									}
					
									.form-check-item {
										margin-top: 1rem;

										@include range-width(0, 451px) {
											padding: 0;
										}

										.label {
											display: block;
											position: relative;
											padding-left: 2rem;
											font-size: .875rem;
											letter-spacing: .54px;
											text-align: justify;
											color: #4a4a4a;
											-webkit-user-select: none;
											-moz-user-select: none;
											-ms-user-select: none;
											user-select: none;
											cursor: pointer;
					
											input {
												position: absolute;
												opacity: 0;
												cursor: pointer;
												height: 0;
												width: 0;
					
												&:checked ~ .checkmark::after {
													content: '';
													// display: inline-block;
													position: absolute;
													left: 9px;
													top: 5px;
													width: 5px;
													height: 10px;
													border: solid #4a4a4a;
													border-width: 0 3px 3px 0;
													-webkit-transform: rotate(45deg);
													-ms-transform: rotate(45deg);
													transform: rotate(45deg);
													// background-color: #d1d1d6;
												}
											}
					
											img {
												display: inline-block;
												margin-bottom: 4px;
												width: 37px;
												height: 15px;
											}
										}
											
										.checkmark {
											position: absolute;
											top: 0;
											left: 0;
											height: 25px;
											width: 25px;
											border: solid 1px #d1d1d6;
											background-color: #fff;
										}
									}
					
									button {
										margin: 1.5rem 0 0 0;
										width: 100%;
										font-size: 1rem;
										border-color: #d1d1d6;
									}
					
								}
					
								.notice {
									margin-top: 50px;
					
									&:nth-of-type(2) {
										margin-top: 0;
									}
					
									@include range-width(0, 451px) {
										padding: 0 12px;
										margin-top: 25px;
									}
					
									.title {
										font-family: 'Noto Sans TC', sans-serif;
										font-size: 16px;
										font-weight: bold;
										line-height: 1.63;
										letter-spacing: 0.73px;
										color: #f750c2;
										text-align: left;
					
										@include range-width(0, 451px) {
											font-weight: bold;
										}
									}
					
									p {
										font-size: 14px;
										line-height: 1.71;
										letter-spacing: 0.7px;
										color: #636363;
										text-align: left;
									}
					
									ol {
										margin-bottom: 0;
										padding-left: 16px;
					
										li {
											font-size: 14px;
											line-height: 1.71;
											letter-spacing: 0.7px;
											color: #636363;	
											text-align: left;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	font-size: 12px;

	@include range-width(0, 451px) {
		height: 60px;
	}
}
